<div id="carouselExampleControls" class="carousel slide d-none d-sm-block" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="vertical-align">
                <div class="vertical-align-item">
                    <h1 class="text-uppercase display-3 font-weight-bold text-center mb-0">first sample text</h1>
                    <h3 class="text-capitalize display-4 font-weight-light text-center">subtext goes here</h3>
                </div>
            </div>
            <img class="d-block w-100" src="http://via.placeholder.com/1920x640?text=image%20goes%20here" alt="Second slide">
        </div>
        <div class="carousel-item">
            <div class="vertical-align">
                <div class="vertical-align-item">
                    <h1 class="text-uppercase display-3 font-weight-bold text-center mb-0">second sample text</h1>
                    <h3 class="text-capitalize display-4 font-weight-light text-center">subtext goes here</h3>
                </div>
            </div>
            <img class="d-block w-100" src="http://via.placeholder.com/1920x640?text=image%20goes%20here" alt="Second slide">
        </div>
        <div class="carousel-item">
            <div class="vertical-align">
                <div class="vertical-align-item">
                    <h1 class="text-uppercase display-3 font-weight-bold text-center mb-0">third sample text</h1>
                    <h3 class="text-capitalize display-4 font-weight-light text-center">subtext goes here</h3>
                </div>
            </div>
            <img class="d-block w-100" src="http://via.placeholder.com/1920x640?text=image%20goes%20here" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>