<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/">Node-Plate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-home mr-1"></i>Home</a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="fas fa-home mr-1"></i>About</a>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">
                        <i class="fas fa-home mr-1"></i>Services</a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>