<ul class="list-group sticky-top">
    <li class="list-group-item">
        <a href="/" class="text-dark">Home</a>
    </li>
    <li class="list-group-item">
        <a href="/about" class="text-dark">About</a>
    </li>
    <li class="list-group-item">
        <a href="/services" class="text-dark">Services</a>
    </li>
</ul>