<div class="list-group sticky-top">
    <a href="/" class="list-group-item list-group-item-action text-dark">Home</a>
    <a href="/about" class="list-group-item list-group-item-action text-dark">About</a>
    <a href="/services" class="list-group-item list-group-item-action text-dark">Services</a>
</div>