.sticky-top {
  top: 15px !important;
}
.vetical-align {
  position: relative;
}
.vertical-align-item {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*small*/
@media (max-width: 566px) {
  .display-3 {
    font-size: 2rem !important;
  }
  .display-4 {
    font-size: 1.7rem !important;
  }
}
@media (min-width: 567px) {
  .display-3 {
    font-size: 2.5rem !important;
  }
  .display-4 {
    font-size: 2.2rem !important;
  }
}
/*medium*/
@media (min-width: 768px) {
  .display-3 {
    font-size: 3.5rem !important;
  }
  .display-4 {
    font-size: 3rem !important;
  }
}
/*large*/
@media (min-width: 992px) {
  .display-3 {
    font-size: 4.5rem !important;
  }
  .display-4 {
    font-size: 3.5rem !important;
  }
}
/*Extra large*/
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4.5rem !important;
  }
  .display-4 {
    font-size: 3.5rem !important;
  }
}
