<div class="card">
    <div class="card-body">
        <h3 class="text-capitalize border-bottom">About</h3>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero consectetur quia, esse recusandae voluptatum
            hic maxime quos architecto, sequi sit repudiandae expedita. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ad nemo quas fugiat! Tempore, aliquid esse perspiciatis exercitationem maiores illo quas officia hic dolorem
            explicabo. Labore, itaque! Repellendus doloribus blanditiis quis? Obcaecati at expedita tempore harum! Delectus,
            eius? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum blanditiis sint similique soluta consequuntur
            aperiam amet at laboriosam quas incidunt omnis quasi hic, non corrupti architecto sapiente ullam fuga? Eum!</p>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero consectetur quia, esse recusandae voluptatum
            hic maxime quos architecto, sequi sit repudiandae expedita. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ad nemo quas fugiat! Tempore, aliquid esse perspiciatis exercitationem maiores illo quas officia hic dolorem
            explicabo. Labore, itaque! Repellendus doloribus blanditiis quis? Obcaecati at expedita tempore harum! Delectus,
            eius? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum blanditiis sint similique soluta consequuntur
            aperiam amet at laboriosam quas incidunt omnis quasi hic, non corrupti architecto sapiente ullam fuga? Eum!</p>
    </div>
</div>