<div class="container">
    <div class="row">
        <div class="col-md-3 mt-3">
            {{> _sidebar}}
        </div>
        <div class="col-md-9 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-capitalize border-bottom">Services</h3>
                    <p class="font-weight-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur totam rem possimus culpa ab id vero consequuntur
                        quisquam accusamus, quis est minima odit distinctio, odio excepturi ipsum officiis doloremque!
                    </p>
                    <p class="font-weight-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur totam rem possimus culpa ab id vero consequuntur
                        quisquam accusamus, quis est minima odit distinctio, odio excepturi ipsum officiis doloremque!
                    </p>
                    <p class="font-weight-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur totam rem possimus culpa ab id vero consequuntur
                        quisquam accusamus, quis est minima odit distinctio, odio excepturi ipsum officiis doloremque!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>